$color-main-blue: #4d9aca;
$color-main-light: #e6e6e6;
$color-main-dark: #234968;

$color-sec-main: #f1f1f2; //?
$color-sec-light: #fafaff; //?
$color-sec-dark: #13232f;
$color-sec-blood: #98191c;
$color-sec-omni: #e29930;